@{
    ViewData["Title"] = "Home Page";
}
<body style="background-image: url(https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252__480.jpg); background-repeat:no-repeat; background-size:cover; ">
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Human Resource Management</p>
</div>
    </body>
